.asScrollable {
  position: relative !important;
  overflow: hidden !important;
}
.asScrollable-container::-webkit-scrollbar {
  width: 0;
}
.asScrollable-content:before,
.asScrollable-content:after {
  content: " ";
  display: table;
}
.asScrollable-content:after {
  clear: both;
}
.asScrollable-bar {
  -webkit-transition: opacity 1s;
       -o-transition: opacity 1s;
          transition: opacity 1s;
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 0;
  overflow: hidden;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.asScrollable-bar-hide {
  -webkit-transition-delay: 400ms;
       -o-transition-delay: 400ms;
          transition-delay: 400ms;
  opacity: 0;
}
.asScrollable-bar.is-hovering {
  background: rgba(238, 238, 238, 0.4);
}
.asScrollable-bar.is-dragging {
  background: rgba(238, 238, 238, 0.6) !important;
  border-radius: 5px;
  border: none;
  opacity: 1;
}
.asScrollable-bar.is-disabled {
  display: none;
}
.asScrollable-bar-handle {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 0;
  background: rgba(224, 224, 224, 0.6);
  cursor: pointer;
  border-radius: 2px;
}
.asScrollable-bar.is-dragging .asScrollable-bar-handle {
  background: rgba(200, 200, 200, 0.8) !important;
  border-radius: 5px;
}
.asScrollable-bar-vertical {
  width: 4px;
  margin: 5px 3px;
  height: 100%;
  height: -webkit-calc(100% - 2*5px);
  height: calc(100% - 2*5px);
}
.asScrollable-bar-vertical.is-dragging {
  width: 10px;
  margin: 5px 1px;
}
.asScrollable-bar-vertical .asScrollable-bar-handle {
  width: 100%;
}
.asScrollable-bar-horizontal {
  height: 4px;
  margin: 3px 5px;
  width: 100%;
  width: -webkit-calc(100% - 2*5px);
  width: calc(100% - 2*5px);
}
.asScrollable-bar-horizontal.is-dragging {
  height: 10px;
  margin: 1px 5px;
}
.asScrollable-bar-horizontal .asScrollable-bar-handle {
  height: 100%;
}
.asScrollable.is-hovering .asScrollable-bar-handle {
  background: rgba(224, 224, 224, 0.8);
}
