@scrollable: asScrollable;

@scrollable-bar-size: 4px;
@scrollable-bar-dragging-size: 10px;

@scrollable-bar-dragging-color: rgba(238, 238, 238, 0.6);
@scrollable-bar-hovering-color: rgba(238, 238, 238, 0.4);

@scrollable-bar-handle-offset: 5px;

@scrollable-bar-handle-color: rgba(224, 224, 224, 0.6);
@scrollable-bar-handle-hovering-color: rgba(150, 150, 150, 0.6);
@scrollable-bar-handle-dragging-color: rgba(150, 150, 150, 0.8);

.@{scrollable} {
	&.is-enabled {
		overflow: hidden !important;
	}
	
	&-container {
		.is-enabled & {
			overflow: hidden !important;
	        box-sizing: content-box !important;
	    }

	    .is-enabled &::-webkit-scrollbar {
			width: 0;
			height: 0;
			-webkit-appearance: none;
		}

		.@{scrollable}-vertical.is-enabled & {
			 & {
				overflow-y: scroll !important;
			}
		}
		.@{scrollable}-horizontal.is-enabled & {
			overflow-x: scroll !important;
		}
	}

	&-content {
		.is-enabled & {
			position: relative !important;
			overflow: visible !important;
			&:before,
			&:after {
				content: " ";
				display: table;
			}
			&:after {
				clear: both;
			}
		}
	}
	&-bar {
		.is-disabled & {
			display: none;
		}

		transition: opacity 0.5s;
		&-hide {
			transition-delay: 400ms;
			opacity: 0;
		}

		position: absolute;
		bottom: 0;
		right: 0;
		line-height: 0;
		
		overflow:hidden;
		border-radius: @scrollable-bar-size/2;
		box-sizing:border-box;

		user-focus: ignore;
		user-input: disabled;
		user-select: none;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		&.is-hovering {
			background: @scrollable-bar-hovering-color;
		}

		&.is-dragging {
			background: @scrollable-bar-dragging-color !important;

			opacity: 1;
		}

		&.is-disabled {
			display: none;
		}

		&-handle {
			transition: width,height 0.5s;
			position: absolute;

			top: 0;
			left: 0;
			line-height: 0;
			background: @scrollable-bar-handle-color;
			cursor: pointer;

			border-radius: @scrollable-bar-size/2px;
		}

		&.is-dragging &-handle {
			background: @scrollable-bar-handle-dragging-color !important;
		}

		&.is-dragging, &.is-hovering {
			border-radius: @scrollable-bar-dragging-size/2;

			.@{scrollable}-bar-handle {
				border-radius: @scrollable-bar-dragging-size/2px;
			}
		}

		&-vertical {			
			width: @scrollable-bar-size;
			margin: @scrollable-bar-handle-offset (@scrollable-bar-dragging-size - @scrollable-bar-size)/2;

			height: 100%;
			height: ~"calc(100% - 2*@{scrollable-bar-handle-offset})";
		}

		&-vertical {
			&.is-dragging, &.is-hovering {
				width: @scrollable-bar-dragging-size;

				margin: @scrollable-bar-handle-offset 1px;
			}
		}

		&-vertical &-handle {
			width: 100%;
		}

		&-horizontal {
		    height: @scrollable-bar-size;
		    margin: (@scrollable-bar-dragging-size - @scrollable-bar-size)/2 @scrollable-bar-handle-offset;

			width:100%;
			width: ~"calc(100% - 2*@{scrollable-bar-handle-offset})";
		}

		&-horizontal {
			&.is-dragging, &.is-hovering {
				height: @scrollable-bar-dragging-size;

				margin: 1px @scrollable-bar-handle-offset;
			}
		}

		&-horizontal &-handle { 
			height: 100%; 
		}
	}
	&.is-scrolling {
		.@{scrollable}-bar {
			transition: opacity 0;
			opacity: 1;
		}
	}
	&.is-hovering {
		.@{scrollable}-bar-handle {
			background: @scrollable-bar-handle-hovering-color;
		}
	}

	&.is-dragging {
		user-focus: ignore;
		user-input: disabled;
		user-select: none;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}